/* iPad・スマホへの振り分け */

/* 表示領域が1020px以上の場合に適用するスタイル（パソコン向け） */
@media screen and (min-width: 1020px) {
}	

/* 表示領域が1019px以下の場合に適用するスタイル（スマホ向け） */
@media screen and (max-width: 1019px) and (min-width: 551px) {
}

@font-face {
    font-family: "Medio";
    src:url("../font/medio.otf") format("opentype");
}

@font-face {
    font-family: "Trajan";
    src:url("../font/TrajanPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Ryumin";
    src:url("../font/A-OTF-RyuminPr5-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Matisse";
    src:url("../font/FOT-MatisseElegantoPro-M.otf") format("opentype");
}

@font-face {
    font-family: "serif";
    src: url('../font/serif_medium_bt.ttf') format('truetype');
}

@font-face {
    font-family: "Himalaya";
    src: url('../font/Microsoft-Himalaya.ttf') format('truetype');
}

@font-face {
    font-family: "Bahnschrift";
    src: url('../font/bahnschrift.ttf') format('truetype');
}

.top_bg {
    background-image: url(../img/top_bg.png);
}

.about_bg {
    background-image: url(../img/about_bg.png);
}

.design_bg {
    background-image: url(../img/design_bg.png);
}

.web_bg {
    background-image: url(../img/web_bg.png);
}

.engineer_bg {
    background-image: url(../img/engineer_bg.png);
}

.plan_bg {
    background-image: url(../img/plan_bg.png);
}

.top_bg_sp {
    background-image: url(../img/top_bg_sp.png);
}

.about_bg_sp {
    background-image: url(../img/about_bg_sp.png);
}

.design_bg_sp {
    background-image: url(../img/design_bg_sp.png);
}

.web_bg_sp {
    background-image: url(../img/web_bg_sp.png);
}

.engineer_bg_sp {
    background-image: url(../img/engineer_bg_sp.png);
}

.plan_bg_sp {
    background-image: url(../img/plan_bg_sp.png);
}




*:focus {
    outline: none;
}

body {
    background: #fff 0% 0% no-repeat padding-box;
    font: normal normal normal 16px/22px Bahnschrift;
    color:#fff;
}

@media screen and (min-width: 501px) {
    header {
        display: flex!important;
        justify-content: space-between;
        width:100%;
        position: fixed;
        z-index: 9000;
        padding-top: 15px;
        padding-left: 150px;
        padding-right: 50px;
        transition: 0.5s;
    }    
}	

@media screen and (max-width: 500px) {
    header {
        display: flex!important;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        z-index: 9000;
        padding-top: 15px;
        padding-left: 15px;
        transition: 0.5s;
    }
}	


header {
    color:#fff;
}




a {
    color:#262626;
    text-decoration: none;
}

a:hover {
    color:#505050;
    text-decoration: none;
    opacity:0.7;
}

footer {
    font: normal normal normal 12px/16px serif;
    letter-spacing: 0px;
    color: #000000;
    padding:15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}


#registration_pc {
    overflow-x: hidden;
}

#registration_sp {
    overflow-x: hidden;
    overflow-y: hidden;
    font: normal normal normal 12px/16px Open Sans;
    color: #fff;
}

.body_sp {
    min-width:375px;
    text-align:-webkit-center;
}

li {
    list-style: none;
}

select {
    background: #626262 0% 0% no-repeat padding-box;
    color:#fff;
    font: normal normal 600 20px/30px Open Sans;
    height:50px;
    padding-left: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../img/select_bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50px;
}


.none {
    opacity: 0;
    z-index:-1;
}


.header_logo_div {
    width:100%;
    height:120px;
    padding: 30px 50px;
    position: fixed;
    z-index: 9000;
}

.header_logo_div_sp {
    width: 100%;
    height: 120px;
    padding: 15px 10px;
    position: fixed;
    z-index: 9000;
}

.header_logo {
    margin: auto;
    display: block;
}

.logo_img {
    width: 8vw;
}

.logo_img_sp {
    width: 15vw;
}

.sp_top_logo {
    position: fixed;
    top: 40vh;
    z-index: 100;
    width: 60vw;
    display: block;
    margin: 0 20vw;
    transition: 1s;
    opacity: 1;
}
.sp_top_img {
    width: 100%;
}

.left_menu_div {
    padding: 250px 5vw;
    position: fixed;
    font: normal normal normal 40px/40px Himalaya;
    letter-spacing: 4px;
    color: #707070;
    z-index: 100;
}

.left_menu {
    display: block;
    margin: 15px 0;
}
.wrapper {
    overflow: hidden;
}

.current {
    color: #CB27AA;
}

.bg_div {
    width: 100%;
    position:fixed;
    z-index: 1;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page_name {
    margin: 5vw 15vw;
    font: normal normal 400 5vw/6vw Bahnschrift;
    letter-spacing: 4px;
    color: #545454;
    position: fixed;
    z-index: 100;
    color: #FFFFFF;
    opacity: 0;
}

.content {
    color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
    z-index: 1000;
    opacity: 0;
}
.content_sp {
    color: #000;
    position: fixed;
    height: calc(100vh - 185px);
    overflow: scroll;
    margin-top: 60px;
    padding: 0 4%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    z-index: 1000;
    font: normal normal 300 12px/16px Futura;
    letter-spacing: 1.2px;
}

/*スクロールバー非表示（Chrome・Safari）*/
.content::-webkit-scrollbar, .content_sp::-webkit-scrollbar{
    display:none;
}

.top_text1 {
    position: fixed;
    top: 10%;
    right: 10%;
    width: 100%;
    text-align: right;
    font: normal normal bold 6vw/6vw Bahnschrift;
    letter-spacing: 0px;
    color: #FF008F;
}

.top_text2 {
    position: fixed;
    top: 62%;
    right: 5%;
    width: 100%;
    text-align: right;
    font: normal normal bold 3.5vw/3.5vw Bahnschrift;
    letter-spacing: 0px;
    color: #FF008F;
}

.top_text1_sp {
    position: fixed;
    top: 14%;
    right: 10%;
    width: 100%;
    text-align: right;
    font: normal normal bold 10vw/10vw Bahnschrift;
    letter-spacing: 0px;
    color: #FF008F;
    height: 180px;
}

.top_text2_sp {
    position: fixed;
    bottom: 22%;
    right: 5%;
    width: 100%;
    text-align: right;
    font: normal normal bold 8vw/8vw Bahnschrift;
    letter-spacing: 0px;
    color: #FF008F;
}

.work_column {
    font: normal normal 100 30px/30px Bahnschrift;
    letter-spacing: 0px;
    position: absolute;
    right: -250px;
    transition: 0.5s;
}

.work_text {
    text-align: right;
    font: normal normal 400 18px/26px Bahnschrift;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    right: 100px;
    transition: 0.5s;
    opacity: 0;
    bottom: 100px;
    transform: scale(0.9, 1);
}

#work_column1 {
    top:100px;
}

#work_column2 {
    top:140px;
}

#work_column3 {
    top:180px;
}

#work_column4 {
    top:220px;
}

.company_div {
    width:800px;
    position: fixed;
    bottom:10%;
    right:0%;
    font: normal normal normal 18px/25px Bahnschrift;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.company_div_sp {
    width: 100%;
    position: fixed;
    bottom: 15%;
    font: normal normal normal 10px/15px Bahnschrift;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 12%;
    padding-top: 20px;
    background: rgba(0,0,0,0.5);
    text-shadow:
        0 2px 0 #888,
        0 3px 0 #888,
        0 4px 5px #333;
}

.company_column {
    width:100%;
    display: flex;
    margin-bottom: 20px;
}

.company_left {
    width:30%;
}
.company_left_sp {
    width:43%;
}

.company_right {
    width:70%;
}
.company_right a {
    color: #fff;
}
.flex_div {
    margin-top: 50px;
    width: 100%;
    display: flex;
    font: normal normal 300 20px/26px serif;
    letter-spacing: 2px;
    color: #000000;
}

.column_div {
    margin-top: 50px;
    width: 100%;
    font: normal normal 300 20px/26px serif;
    letter-spacing: 2px;
    color: #000000;
}

.about_20 {
    width: 20%;
    padding-right: 3%;
}

.about_30 {
    width: 30%;
    padding-right: 3%;
}

.about_50 {
    width: 50%;
    padding-right: 5%;
}

.content_name {
    margin-bottom: 10px;
    display: inline-block;
}

.recruit_big {
    font-size: 30px;
}

.contact_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact_name {
    margin: 10px 0 7px;
    font: normal normal bold 20px/23px Bahnschrift;
    letter-spacing: 0px;
    color: #fff;
    width: 180px;
    text-align: right;
}

.contact_name_sp {
    font: normal normal bold 12px/16px Bahnschrift;
    letter-spacing: 0px;
    color: #fff;
    width: 180px;
}

.form_text {
    width: 70%;
}

.form_textarea {
    width: 70%;
    height: 250px;
}

.form_text_sp {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.7);
    border: none;
    padding: 3px;
}
.form_textarea_sp {
    width: 100%;
    height: 150px;
    background: rgba(255,255,255,0.7);
    border: none;
    padding: 3px;
}

.send_button a {
    font-size: 15px;
    display: block;
    width: 130px;
    height: 40px;
    margin-top: -20px;
    line-height: 40px;
    background: #FF008F 0% 0% no-repeat padding-box;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-right: 0%;
    margin-left: auto;
}
.send_button_sp a {
    font-size: 12px;
    display: block;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    background: #FF008F 0% 0% no-repeat padding-box;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 20px auto;
}

.contact_div {
    width: 50%;
    margin: 30vh auto 0px;
    color: #fff;
}
.contact_div_sp {
    width: 80%;
    margin: 200px auto 0px;
    color: #fff;
}
.error_message {
    text-align: center;
    width: 100%;
    color: #FF3D3D;
}
.error_message_sp {
    margin: 10px 0;
    width: 100%;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    color: #FF3D3D;
}

.page_title_sp {
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    font: normal normal normal 26px/30px Himalaya;
    color: #000;
}

.mail_comp_div {
    margin: 40vh 0;
    font: normal normal 300 27px/34px serif;
    text-align: center;
}

.mail_comp_div_sp {
    margin: 40vh 0;
    font: normal normal 300 15px/21px serif;
    text-align: center;
}

.service_menu {
    display: block;
    font: normal normal normal 50px/60px Himalaya;
    letter-spacing: 5px;
    color: #545454;
    margin-top: 30px;
}

.close_btn {
    font: normal normal normal 12px/16px serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #000000 ;
    padding:3px 20px;
    margin-left: 30px;
    opacity: 0;
    pointer-events: none;

}

.service_text {
    font: normal normal 300 17px/28px serif;
    letter-spacing: 2px;
    color: #000000;
    margin:30px 0;
}

.service_img {
    display: block;
    width: 100%;
}

.service_img_sp {
    width: 100%;
    margin-top: 50px;
}

#service_menu {
    z-index: 100;
}

#service1, #service2, #service3, #service4 {
    z-index: 0;
    display: none;
}

.product_img {
    width: 45vw;
    position: fixed;
    top: 15vh;
    left: 25vw;
}
.product_text {
    font: normal normal 400 30px/30px Bahnschrift;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: fixed;
    top: 50vh;
    right: 14vw;
}

.product_img_sp {
    width: 90vw;
    position: fixed;
    top: 210px;
    left: 5vw;
}
.product_text_sp {
    font: normal normal 400 20px/30px Bahnschrift;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: fixed;
    top: 430px;
    left: 36vw;
}

/*以下ハンバーガーメニューについて*/
.menu-btn {
    top: 43vh;
    display: flex;
    position: fixed;
    height: 80px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    border: none;
    width: 70px;
    background: #FF008F 0% 0% no-repeat padding-box;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
}
.menu-btn span {
    width: 30px;
}
.menu-btn span:before {
    bottom: 8px;
    width: 30px;
}
.menu-btn span:after {
    top: 8px;
    width: 30px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    width: 30px;
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}


.menu-content{
    margin: 250px 0 0 30vw;
    width: 70vw;
    position: fixed;
    height: 1000px;
    z-index: 0;
    opacity: 0;
}

.menu-content ul, .menu-content_work ul {
    padding: 50px 20px;
    margin: 0 20px;
    height: 400px;
    direction: rtl;
}
.menu-content ul li, .menu-content_work ul li {
    list-style: none;
}


.menu_head_sp, .menu_content_sp {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    position: relative;
    font: normal normal 600 16px/20px sans-serif;
}

.menu_column {
    display: flex;
    width: 100%;
    font: normal normal bold 35px/40px Bahnschrift;
    letter-spacing: 0px;
    margin: 50px 0;
}
.menu_a {
    width:50%;
    display: block;
    color: #FFFFFF;
}
.menu_img {
    width:60px;
    margin-right: 30px;
}

.menu_head_sp {
    padding: 20px 15px 3px 3px;
}

.menu_content_sp, .menu_content {
    padding: 10px 5px;
}

.menu_content_sp:hover {
    color: #fff;
    text-decoration: none;
}
.menu_content:hover {
    color: #fff;
    text-decoration: none;
}

.menu_a_sp {
    display: block;
    color: #fff;
    font-size: 16px;
    margin: 10px 20px;
}


#menu-btn-check:checked ~ .menu-content {
    z-index: 9999;
    opacity: 1;
}
#menu-btn-check:checked ~ .menu-content_work {
    left: 60%;/*メニューを画面内へ*/
}


@media screen and (max-width: 500px) {

    .menu-btn {
        top: 0vh;
        right: 0;
        display: flex;
        position: fixed;
        height: 80px;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        border: none;
        width: 70px;
        background: #FF008F 0% 0% no-repeat padding-box;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 2px;
        border-radius: 3px;
        background-color: #fff;
        position: absolute;
    }
    .menu-btn span {
        width: 30px;
    }
    .menu-btn span:before {
        bottom: 8px;
        width: 30px;
    }
    .menu-btn span:after {
        top: 8px;
        width: 30px;
    }
    
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        width: 30px;
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    #menu-btn-check {
        display: none;
    }
    
    
    .menu-content{
        margin: 200px 0 0 25vw;
        width: 70vw;
        position: fixed;
        height: 1000px;
        z-index: 0;
        opacity: 0;
    }
    
    .menu-content ul, .menu-content_work ul {
        padding: 50px 20px;
        margin: 0 20px;
        height: 400px;
        direction: rtl;
    }
    .menu-content ul li, .menu-content_work ul li {
        list-style: none;
    }
    
    .menu_head_sp, .menu_content_sp {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#fff;
        text-decoration: none;
        position: relative;
        font: normal normal 600 16px/20px sans-serif;
    }
    
    .menu_column {
        display: flex;
        width: 100%;
        font: normal normal bold 35px/40px Bahnschrift;
        letter-spacing: 0px;
        margin: 50px 0;
    }
    .menu_a {
        width:100%;
        display: block;
        color: #FFFFFF;
        margin-bottom: 20px;
        font:normal normal bold 20px/20px Bahnschrift;
    }
    .menu_img {
        width:40px;
        margin-right: 30px;
    }
    
    .menu_head_sp {
        padding: 20px 15px 3px 3px;
    }
    
    .menu_content_sp, .menu_content {
        padding: 10px 5px;
    }
    
    .menu_content_sp:hover {
        color: #fff;
        text-decoration: none;
    }
    .menu_content:hover {
        color: #fff;
        text-decoration: none;
    }
    
    .menu_a_sp {
        display: block;
        color: #fff;
        font-size: 16px;
        margin: 10px 20px;
    }

    #menu-btn-check:checked ~ .menu-content {
        z-index: 9999;
        opacity: 1;
    }
    #menu-btn-check:checked ~ .menu-content_work {
        left: 60%;/*メニューを画面内へ*/
    }
    
    .page_name {
        margin: 5vw 15vw;
        font: normal normal 400 6vw/6vw Bahnschrift;
        letter-spacing: 1px;
        color: #545454;
        position: fixed;
        z-index: 100;
        color: #FFFFFF;
        opacity: 0;
        margin-top: 140px;
        margin-left: 10px;
    }
    .work_text {
        text-align: right;
        font: normal normal 400 10px/14px Bahnschrift;
        letter-spacing: 0px;
        color: #FFFFFF;
        position: absolute;
        right: 20px;
        transition: 0.5s;
        opacity: 0;
        top: 320px;
    }

    .work_column {
        font: normal normal 100 20px/20px Bahnschrift;
        letter-spacing: 0px;
        position: absolute;
        right: -250px;
        transition: 0.5s;
    }
    #work_column1_sp {
        top:170px;
    }
    #work_column2_sp {
        top:200px;
    }
    #work_column3_sp {
        top:230px;
    }
    #work_column4_sp {
        top:260px;
    }   
}


@media screen and (min-width: 2000px) {
    .page_name {
        margin: 5vw 15vw;
        font: normal normal 400 80px/80px Bahnschrift;
        letter-spacing: 4px;
        color: #545454;
        position: fixed;
        z-index: 100;
        color: #FFFFFF;
        opacity: 0;
        transform: scale(1.1, 1);
    }

    .top_text1 {
        font: normal normal bold 5vw/5vw Bahnschrift;
    }
    
    .top_text2 {
        font: normal normal bold 2.5vw/3vw Bahnschrift;
    }
    .logo_img {
        width: 6vw;
    }
}